<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sentiment">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sentimentlogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/sentimentlogo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.sentiment.ThreadMessages"
            android:parentActivityName=".ThreadLists"/>
        <activity android:name="com.example.sentiment.InstantFeedback"
            android:parentActivityName=".ThreadLists"/>
        <activity android:name="com.example.sentiment.ThreadLists"
            android:parentActivityName=".EmailAuth"/>
        <activity android:name="com.example.sentiment.NewThread" />
        <activity android:name="com.example.sentiment.EmailAuth">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>